@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 87%;
    margin: 0 auto;
}
.linkHover::before {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 3px;
    background-color: #ffdf7b;
    border-radius: 18px;
}
